{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('task_create')}) }}
            {{ form_widget(form) }}

            <div class="col-auto">
                <button type="submit" class="btn btn-success pull-right">Ajouter</button>
                <a href="{{ path('tasks_todo') }}" class="btn btn-primary">Retour à la liste des tâches</a>
            </div>
        {{ form_end(form) }}


    </div>
{% endblock %}
